# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#unignore makefile
!Makefile

#ignore test file(s) and copyrighted fonts
*.ttf
*.txt

#ignore test images
*.xcf
*.gif
*.png
*.jpg
*.jpeg


#ignore VSCode stuff
.vscode/*

#ignore imagemagick files...
ImageMagick7.1.1/*
ImageMagick7.1.1/