# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#unignore makefile
!Makefile

#ignore test file and copyrighted fonts
*.ttf
*.txt

#ignore test images
*.xcf
*.gif
*.png


#ignore VSCode stuff
.vscode/*